/* VARIABLES */
// Colors
$primary-color: #da4444;
$secondary-color: #282828;
$bg-color: white;
$font-color: black;

// Fonts
$font-family: 'Inter', sans-serif;

// Break Points
$first-breakpoint: '1150px';
$second-breakpoint: '1190px';
$third-breakpoint: '760px';
$footer-breakpoint: '1292px';
